/*COLORS*/
$black: #000000;
$dark: #1f2634;

$white: #ffffff;
$lightGray: #ececec;

$yellow: #ffe452;
$lightYellow: #f5eabd;

$red: #ff2466;
$pink: #ff6476;
$orange: #fd9a68;

$sky: #94d0f4;
$blue: #008ce3;
$navy: #1a2a83;
$darkBlue: #0e1b47;

/*FONTS*/
$size: 15px;
$line-height: 1.7;

$fontJP: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;

