.modal-footer{
	border-top: 0;
}

.list-table{
	.column-1{
		width: 120px;
		padding-left: 60px !important;
    	text-align: left;
	}
	.column-2{
		width: 300px;
	}
	.column-3{
		width: 80px;
	}
	.column-4{
		width: 100px;
	}
	.column-5{
		width: 100px;
	}
	.column-6{
		width: 100px;
	}
	.column-7{
		width: 120px;
	}
}

.list-table-modal{
	.column-1{
		width: 300px;
	}
	.column-2{
		width: 100px;
	}
	.column-3{
		width: 120px;
	}
	.column-4{
		width: 150px;
	}
}

.list-page{
	position: relative;
	nav.py-3{
		width: 100%;
    	float: left;
	}
}

.view-hidden-products{
	margin-top: 1rem;
	float: right;
	position: absolute;
	bottom: -60px;
	right: 0px;
}

.no-item-found{
	display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 250px);
}

#ProductModalOption .modal-footer .btn-transparent{
	min-height: 35px;
}