.modal-footer{
	border-top: 0;
}

.list-table{
	.column-1{
		width: 120px;
	}
	.column-2{
		width: 300px;
	}
	.column-3{
		width: 80px;
	}
	.column-4{
		width: 100px;
	}
	.column-5{
		width: 100px;
	}
	.column-6{
		width: 100px;
	}
	.column-7{
		width: 120px;
	}
}

.list-table-modal{
	.column-1{
		width: 300px;
	}
	.column-2{
		width: 100px;
	}
	.column-3{
		width: 120px;
	}
	.column-4{
		width: 150px;
	}
}

.list-page{
	nav.py-3{
		width: calc(100% - 200px);
    	float: left;
	}
}

.view-hidden-products{
	margin-top: 1rem;
	float: right;
}