/* ----- min-width ----- //*/
@media (min-width: 1440px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.search-box {
		input {
			min-width: 340px;
		}
	}

	.login-form {
		.form-wrapper {
			.form-group {
				margin-bottom: 1.25em;
			}
		}
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.modal-lg {
		max-width: 800px !important;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.right-dropdown.ml-auto{
		div.mb-2{
			margin-bottom: 0 !important;
		}
	}
	.modal-dialog {
		max-width: 580px;
	}
	.modal-sm {
		max-width: 350px;
	}
}

/* ----- max-width ----- //*/


@media (max-width: 1440px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

	table {
		table-layout: fixed;
	}

	.table-wrapper {
		// border-right: 5px solid #ffffff;
		// border-radius: 15px;
		// border-left: 5px solid #ffffff;
		.table-responsive-lg{
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	.btn-sidebar{
		display: block;
	}

	.offcanvas-active {
		overflow: hidden;

		.inner-page-wrap {
			padding-left: 0;
		}
		.side-menu{
			border-radius: 0;
			left: 0;
			height: 100vh;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 20px;
			overflow-y: auto;
			position: fixed;
		}

		.offcanvas-header{
			display: block;
			position: absolute;
			right: 15px;
			cursor: pointer;
			transform: rotate(-180deg);
			height: 30px;
			width: 30px;
			z-index: 9;
			span{
				width: 30px;
				height: 3px;
				background: $dark;
				display: block;
				margin-bottom: 6px;
				position: absolute;
				top: 12px;
			}
			span:nth-of-type(1) {
				transform: rotate(-45deg);
				margin-top: 0;
				width: 30px;
			}

			span:nth-of-type(2) {
				display: none;
			}

			span:nth-of-type(3) {
				transform: rotate(45deg);
				margin-top: 0;
				width: 30px;
			}

			.btn-close {
				height: 30px;
				width: 30px;
			}
		}
	}

	.inner-page-wrap {
		padding-left: 0;
	}

	.top-block{
		.search-box{
			margin-right: 40px;
		}
	}

	.setting-page{
		.top-block{
			.btn.btn-dark.mb-2{
				margin-right: 40px;
			}
		}
	}

	.mobile-offcanvas {
		//visibility: hidden;
		z-index: 1200;
		width: 100%;
		display: none !important;
	}

	.mobile-offcanvas.show {
		display: flex !important;
		//visibility: visible;
		// transform: translateX(0);
	}

	.modal-full{
		margin-left: auto;
		margin-right: auto;
	}

	.modal .inner-page-wrap {
		padding-left: 10px;
		padding-right: 10px;
	}

	.left-data-col{
		margin-bottom: 1em;
	}
}

@media (max-width: 1024.98px) {}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.col-form-label{
		text-align: left !important;
		br{
			display: none;
		}
	}
	.setting-wrap{
		.form-heading{
			margin-bottom: 0.5em !important;
		}
	}
	.modal{
		.product-details--modal-page{
			.col-lg-6.d-flex{
				margin-bottom: 1em;
				&:last-child{
					margin-bottom: 0;
				}
			}
			.no-data{
				display: none;
			}
			.col-lg-6.pl-5.border-right, .col-lg-4.pl-5,
			.product-top-information .col-lg-3.px-5.border-right ,
			.product-top-information .col-lg-9.px-5,
			.col-lg-2.border-right{
				padding-left: 1em !important;
				border-right: 0;
			}
			.border-box .p-info-box{
				height: 90%;
				margin-bottom: 1em;
			}
			.table-wrapper.product-table-wrapper.w-75{
				width: 100% !important;
			}
		}
	}
	.data-table-group {
		margin-bottom: 1.5em;
	}

	.progress.w-75, .progressbar-data.w-75{
		width: 90% !important;
	}
	.purchase-page{
		.graph-wrapper{
			.col-lg-6{
				padding: 0 15px !important;
				margin-bottom: 1em;
			}
		}
	}
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.setting-wrap {
		max-width: 100%;
	}
	.side-setting-menu-toggler{
		position: absolute;
		top: 0;
		right: 45px;
		border: 0;
		outline: 0;
		padding: 0;
		font-size: 32px;
		line-height: 100%;
	}
	.side-setting-menu-close {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 10;
		cursor: pointer;
		height: 30px;
    	width: 30px;
		span{
			width: 30px;
			height: 3px;
			background: $dark;
			display: block;
			margin-bottom: 6px;
			position: absolute;
			top: 12px;
		}
		span:nth-of-type(1) {
			transform: rotate(-45deg);
			margin-top: 0;
			width: 30px;
		}

		span:nth-of-type(2) {
			display: none;
		}

		span:nth-of-type(3) {
			transform: rotate(45deg);
			margin-top: 0;
			width: 30px;
		}
	}
	.side-setting-menu{
		display: none;
		transition: all ease 0.5s;
		&.show{
			display: block;
			left: 0;
			height: 100vh;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 20px;
			overflow-y: auto;
			position: fixed;
			width: 100%;
			border-radius: 0;
		}
	}
	.side-setting-menu-toggler, .side-setting-menu-close{
		display: block;
	}
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.login-form {
		.social-login-container {
			margin-bottom: 5px !important;

			ul.nav {
				li {
					width: 48%;
				}

				button {
					width: 100%;
					min-width: 100%;
					margin-right: 0 !important;

					span {
						display: none;
					}
				}
			}
		}

		.form-wrapper {
			top: 45%;

			.logo {
				img {
					width: 70px;
				}
			}

			h5 {
				margin-bottom: 20px;
				font-size: 1.15em;
			}

			form {
				padding: 25px;
			}

			.form-group {
				label {
					margin-bottom: 5px;
				}
			}

			h1 {
				margin-bottom: 20px;
			}

			.icon {
				float: left;
			}

			.form-group.d-flex.align-items-center {
				flex-direction: column;

				.form-check {
					margin-bottom: 10px;
					margin-top: -10px;
				}

				.form-check,
				button {
					width: 100%;
				}
			}
		}

		.login-links {
			bottom: 15px;
			right: 15px;

			a {
				line-height: 1.5;
				font-size: 12px;
			}
		}
	}

	.table-wrapper {
		.table-title{
			.d-flex.flex-wrap.justify-content-between.align-items-center {
				padding-left: .5em !important;
				padding-right: .5em !important;
			}
		}
		.tt-rt-col {
			justify-content: flex-end;
			width: 100%;

			.total {
				width: 100%;
				text-align: right;
			}

			.btn-200 {
				min-width: auto;
				font-size: 11px;
				padding: 8px 4px;
				float: left;
				width: 48%;
				margin-left: 3px !important;
				margin-right: 0px !important;
				line-height: 22px;
			}
		}
	}

	.top-block .search-box {
		margin-right: 0;
		width: 100%;
	}

	.offcanvas-active .offcanvas-header {
		top: 10px;
	}

	.side-menu{
		.logo {
			margin-bottom: 20px;
		}
		ul li a{
			margin-bottom: 0;
			padding: 8px 0;
		}
	}

	.top-nav li a{
		margin-right: 10px;
	}

	ul.status-box li {
		width: 50%;
	}

	.search-result{
		margin-bottom: 10px;
	}

	.right-dropdown.ml-auto{
		margin-left: inherit !important;
		width: 100%;
		margin-top: 1em;
		div.mb-2{
			width: 50%;
			a {
				margin-right: 5px !important;
			}
		}
	}

	.left-data-col{
		justify-content: space-around;
		width: 100%;
		div {
			margin-right: 14px;
		}
	}
	.graph-wrapper{
		.col-lg-6 {
			margin-bottom: 1em;
			padding: 0 15px !important;
		}
	}

	.progress-data{
		padding-left: 0.15rem !important;
		padding-right: 0.15rem !important;
		.f-20{
			font-size: 18px !important;
		}
	}

	.progress.w-75, .progressbar-data.w-75{
		width: 100% !important;
	}

	.form-box{
		form{
			padding: 15px;
		}
	}

	.modal{
		.order-details-modal-page{
			.d-flex.flex-wrap .col-lg-6{
				padding-left: 0;
				padding-right: 0;
			}
			.page-title{
				span.f-15{
					display: block;
					margin-top: 0.5em;
					margin-bottom: 0.5em;
				}
			}
			.btn-group.flex-column{
				flex-direction: row !important;
				width: 100%;
				p.mb-1{
					width: 50%;
					a{
						display: block;
					}
				}
				.dropdown-toggle{
					width: 50%;
				}
			}
			.form-box{
				.col-md-12{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	.setting-wrap{
		.form-group.row.justify-content-end{
			div.pr-3{
				padding: 0 15px;
				width: 100%;
			}
			.btn{
				width: 47%;
				min-width: 47%;
				margin: 0 1% !important;
			}
		}
		.account-delete {
			position: static;
			padding-top: 15px;
			float: right;
			padding-right: 15px;
		}
	}
	.supplier-warehouse-option {
		top: 55%;
		transform: translate(-50%, -45%);
	}

	.pagination {
		a{
			&.previous {
				margin-right: 5px;
			}

			&.next {
				margin-left: 5px;
			}
			&.previous, &.next{
				min-height: 40px;
				min-width: 60px;
				line-height: 20px;
			}
		}
	}
}


/* Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 360.98px) {
	.login-form {
		.form-wrapper {
			top: 42%;

			.logo {
				img {
					width: 50px;
				}
			}
		}
	}
	.table-wrapper .tt-rt-col .btn-200 {
		font-size: 10px;
	}
	.page-title {
		font-size: 25px;
	}
}

/* ----- min-width & max-width ----- //*/

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}