.stock-table{
	.column-1{
		width: 120px;
	}
	.column-2{
		width: 300px;
	}
	.column-3{
		width: 80px;
	}
	.column-4{
		width: 120px;
	}
	.column-5{
		width: 100px;
	}
	.column-6{
		width: 100px;
	}
	.column-7{
		width: 80px;
	}
	.column-8{
		width: 150px;
	}
}

.storage-waiting-table{
	.column-1{
		width: 120px;
	}
	.column-2{
		width: 300px;
	}
	.column-3{
		width: 80px;
	}
	.column-4{
		width: 100px;
	}
	.column-5{
		width: 100px;
	}
	.column-6{
		width: 100px;
	}
	.column-7{
		width: 100px;
	}
	.column-8{
		width: 100px;
	}
	.column-9{
		width: 180px;
	}
	.btn-dark{
		float: left;
	}
	.delete-row{
		float: left;
   		padding-top: 6px;
	}
}