.stock-table{
	.column-1{
		width: 120px;
	}
	.column-2{
		width: 280px;
	}
	.column-3{
		width: 100px;
	}
	.column-4{
		width: 120px;
	}
	.column-5{
		width: 100px;
	}
	.column-6{
		width: 100px;
	}
	.column-7{
		width: 80px;
	}
	.column-8{
		width: 100px;
	}
	.column-9{
		width: 120px;
	}
}

.storage-waiting-table{
	.column-1{
		width: 120px;
	}
	.column-2{
		width: 300px;
	}
	.column-3{
		width: 80px;
	}
	.column-4{
		width: 100px;
	}
	.column-5{
		width: 100px;
	}
	.column-6{
		width: 100px;
	}
	.column-7{
		width: 100px;
	}
	.column-8{
		width: 100px;
	}
	.column-9{
		width: 180px;
	}
	.btn-dark{
		float: left;
	}
	.delete-row{
		float: left;
   		padding-top: 6px;
	}
}

.right-dropdown.flex-wrap.d-flex.ml-auto a{
	border: 3px solid #fff !important;
	transition: all ease 0.5s;
	&.active, &:hover{
		border-color: #383e4b !important;
	}
}

.right-dropdown.flex-wrap.d-flex.ml-auto .dropdown-menu.dropdown-menu-right a{
	&.active, &:hover{
		border-color: #ffffff !important;
	}
}