body {
	font-family: $fontJP;
	font-size: $size;
	color: $dark;
	background: $gray;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
	font-family: $fontJP;
}

/* custom scrollbar  */
::-webkit-scrollbar {
	width: 6px !important;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	// -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3) !important;
	// -webkit-border-radius: 4px !important;
	// border-radius: 4px !important;
	height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	background: $darkGray !important;
	// -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5) !important;
	height: 6px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $darkGray !important;
	height: 6px;
}

.progress {
  background-color: rgba(0,0,0,0.1);
  height: 5rem;
  border-radius: 5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.8), 0 2.8rem 1rem -2rem rgba(0,0,0,0.15);
}


.progress-bar {
	animation: fill 2s;
}

@keyframes fill {
	0% {
		width: 0;
	}
}

// @keyframes loading-fill {
//   0% {
//     background-position: 0 0;
//   }
//   100% {
//     background-position: 100% 100%;
//   }
// }

a,
button {
	cursor: pointer;

	&:hover {
		opacity: .8;
		text-decoration: none;
	}
}

textarea {
	resize: none;
}

p, span{
	word-break: break-word;
}

.f-28 {
	font-size: 28px !important;
}

.f-24 {
	font-size: 24px !important;
}

.f-20 {
	font-size: 20px !important;
}

.f-18 {
	font-size: 18px !important;
}

.f-15 {
	font-size: 15px !important;
}

.f-14 {
	font-size: 14px !important;
}

.f-12 {
	font-size: 12px !important;
}

.f-10 {
	font-size: 10px !important;
}

.fontJP {
	font-family: $fontJP;
}

.fontEN {
	font-family: $fontEN;
}

.clr-red {
	color: $red !important;
}

.clr-blue {
	color: $blue !important;
}

.clr-green {
	color: $green !important;
}

.clr-orange {
	color: $orange !important;
}

.clr-semiOrange {
	color: $semiOrange !important;
}

.clr-yellow {
	color: $yellow !important;
}

.clr-golden {
	color: $golden !important;
}

.clr-navy {
	color: $navy !important;
}

.clr-pink {
	color: $pink !important;
}

.bg-red {
	background-color: $red !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-green {
	background-color: $green !important;
}

.bg-orange {
	background-color: $orange !important;
}

.bg-semiOrange {
	background-color: $semiOrange !important;
}

.bg-yellow {
	background-color: $yellow !important;
}

.bg-golden {
	background-color: $golden !important;
}

.bg-navy {
	background-color: $navy !important;
}

.bg-pink {
	background-color: $pink !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-dark {
	background-color: $dark !important;
}

.bg-offWhite {
	background-color: $offWhite !important;
}

.bg-silver {
	background-color: $silver !important;
}

.badge {
	font-weight: 400;
}

.br-25 {
	border-radius: 25px !important;
}

.br-10 {
	border-radius: 10px !important;
}

.border-lt {
	border-left: 1px solid $lightGray;
}

.clr-red {
	color: $red !important;
}

.btn-gray {
	background: $lightGray !important;
}

.btn-dark {
	background: $dark !important;
}

.btn-golden {
	background: $golden !important;
}

.btn-red {
	background: $red !important;
}

.btn-red-outline {
	background: transparent !important;
	color: $red !important;
	border: 1px solid $red !important;

	&:hover {
		background: transparent !important;
		color: $red !important;
		border: 1px solid $red !important;
	}
}

.btn-red.btn-red-outline{
	color: $red !important;
}

.btn-navy {
	background: $navy !important;
	transition: all ease 0.5s;
	color: $white !important;
	border-radius: 10px !important;
	text-align: center;
	padding: 3px 10px 5px 10px;
	font-size: 10px;

	&:hover {
		opacity: 0.8;
		color: $white !important;
	}
}

/*--login form--*/
.login-form {
	.login-links {
		position: absolute;
		bottom: 50px;
		right: 50px;
		text-align: right;

		a {
			color: $white;
			line-height: 1.8;
			font-size: 14px;
		}
	}

	.form-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		color: $dark;
		max-width: 480px;
		width: 100%;
		border-radius: 6px;
		padding-left: 15px;
		padding-right: 15px;

		h1 {
			margin-bottom: 40px;
			margin-top: 0;
			font-size: 26px;
			font-weight: bold;
			text-align: center;
		}

		h5 {
			margin-bottom: 30px;
		}

		form {
			padding: 40px;
			background: $white;
			border-radius: 40px;
		}

		.btn {
			-webkit-transition: all ease 0.5s;
			transition: all ease 0.5s;
			text-transform: uppercase;
			letter-spacing: 1px;
			min-height: 42px;
			border-radius: 25px;
			min-width: 132px;
			text-align: center;
			border: 0;
			background: $dark;
			border-color: $dark;
			color: $white;
			font-size: 14px;

			&.btn:hover,
			&.btn:active,
			&.btn:focus {
				opacity: 0.9;
				outline-offset: 0;
				outline: 0;
				border: 0;
				background: $dark;
				border-color: $dark;
			}
		}

		label[for="loginform-rememberme"] {
			font-weight: 500;
		}

		.social-login-container {
			margin-bottom: 20px;

			ul {
				justify-content: space-between;

				li {
					button {
						font-size: 12px;
						background: none;
						border: 1px solid #ced4da;
						text-transform: inherit;
						color: $dark;

						&:hover {
							background: transparent !important;
							border: 1px solid #ced4da !important;
							color: #6c757d;
						}
					}
				}
			}
		}

		.icon {
			display: inline-block;
			height: 24px;
			width: 24px;
			background-size: cover !important;
			vertical-align: middle;
			margin-right: 10px;
		}

		.icon-google {
			background: url('../img/icons/icon-google.svg') no-repeat;
		}

		.icon-facebook {
			background: url('../img/icons/icon-facebook.svg') no-repeat;
		}

		label.form-check-label {
			font-size: 11px;
			font-weight: 300 !important;
		}

		.form-check-input {
			width: 14px;
			height: 14px;
			vertical-align: middle;
			margin-top: 5px;
		}
	}
}

.outer-page-wrap {
	padding-top: 12px;
	padding-bottom: 12px;
	max-height: 100vh;
}

.inner-page-wrap {
	position: relative;
	padding-left: 170px;
	width: 100%;
	height: 96vh;
}

/*--side menu--*/
.side-menu{
	background: $white;
	width: 150px;
	border-radius: 30px;
	padding: 20px;
	text-align: center;
	position: fixed;
	left: 15px;
	height: 96vh;
	z-index: 10;

	.logo {
		margin-bottom: 50px;
	}

	ul {
		li {
			a {
				position: relative;
				display: block;
				padding: 6px 0;
				margin-bottom: 20px;
				color: $dark;
				font-weight: 500;
				transition: all ease 0.5s;
				border: 4px solid $white;
				border-radius: 25px;
				font-size: 15px;

				&:hover,
				&.active {
					border-color: $dark;
				}
			}

			&:last-child a {
				margin-bottom: 0;
			}
		}
	}

	.nav-footer {
		.social-icons {
			display: flex;
			justify-content: center;

			a {
				padding: 0 10px;
				color: #d4d4d4;

				&:hover,
				&.active {
					&:before {
						content: none;
					}
				}

				i {
					font-size: 20px;
				}
			}
		}
	}
}

.btn-sidebar{
	display: none;
	position: absolute;
	right: 15px;
	top: 18px;
	z-index: 9;
	padding: 0;
	border-radius: 5px;
	transition: all ease 0.5s;
	background: transparent;

	i {
		font-size: 28px;
	}

	span {
		width: 30px;
		height: 3px;
		background: $dark;
		display: block;
		margin-bottom: 6px;
	}

	&:focus {
		outline: 0;
	}
}

.offcanvas-active {
	.btn-sidebar{
		opacity: 0;
		left: 150px;
		transition: opacity .2s linear, visibility .1s, width 1s ease-in;

		i.fa-caret-right:before {
			content: "\f0d9";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

.offcanvas-header {
	display: none;
}

.screen-overlay {
	width: 0%;
	height: 100%;
	z-index: 30;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition: opacity .2s linear, visibility .1s, width 1s ease-in;
}

.screen-overlay.show {
	transition: opacity .5s ease, width 0s;
	opacity: 1;
	width: 100%;
	visibility: visible;
}

/*--button common--*/
.btn-dark,
.btn-golden,
.btn-gray,
.btn-transparent,
.btn-red {
	transition: all ease 0.5s;
	color: $white !important;
	min-height: 40px;
	border-radius: 25px !important;
	min-width: 130px;
	text-align: center;
	padding: 8px 16px;
	font-size: 14px;

	&:hover {
		opacity: 0.8;
		color: $white !important;
	}
}

.btn-transparent {
	background: transparent !important;
	color: $dark !important;

	&:hover {
		color: $dark !important;
	}
}

.form-control {
	height: 40px;
	border-radius: 10px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: $semiGray;
	color: $dark;
	border: 1px solid $silver;
	padding: 0.375rem 0.5rem;
	font-size: 14px;
}

.form-group.row {
	align-items: center;
}

.custom-select {
	background: $semiGray url('../img/icons/icon-caret-down.svg') no-repeat right 0.75rem center;
	background-size: 8px 10px;
	padding: 0.375rem 0.5rem;
	height: auto;
	line-height: 1.5;
	border-radius: 10px;
}

textarea.form-control {
	height: auto;
}

.top-block {
	.right-dropdown {
		.dropdown-toggle {
			min-width: 145px;
		}

		a {
			font-size: 13px;
		}
	}
}

.page-title {
	font-size: 28px;
}

.top-nav {
	align-items: center;

	li {
		a {
			color: $dark;
			background: #fff;
			border-radius: 30px;
			margin-right: 15px;
			padding: 7px 20px;
			min-height: 50px;
			line-height: 30px;
			border: 5px solid $white;
			transition: all ease 0.5s;
			text-align: center;
			position: relative;
			margin-bottom: 10px;
			font-size: 15px;

			&.active,
			&:hover {
				border-color: $dark !important;
			}
		}

		&:last-child a {
			margin-right: 0;
		}

		.selcted-counter {
			position: absolute;
			right: -8px;
			top: -8px;
			min-width: 26px;
			height: 24px;
			background: white;
			border: 1px solid $dark;
			border-radius: 25px;
			font-size: 13px;
			text-align: center;
			line-height: 20px;
			padding: 1px 5px;
			font-family: $fontEN;
		}
	}
}

thead.tableFloatingHeaderOriginal {
	background: #fff;
}

table {
	font-size: 12px;

	.form-control,
	textarea,
	select,
	input {
		font-size: 12px;
	}

	&.table {
		margin-bottom: 0;
	}

	th {
		text-align: center;
		border-bottom: 0 !important;
		font-weight: 500;
	}

	th,
	td {
		padding: 0.5rem 0.5em !important;
		vertical-align: middle !important;
		border-color: $semiGray !important;

		input.form-check-input {
			width: 18px;
			height: 18px;
			position: static;
		}
	}

	td {
		p {
			margin-bottom: 0;
		}

		img.product-img {
			float: left;
			max-width: 65px;
			max-height: 65px;
			margin-right: 5px;
		}

		img.icon-img {
			max-width: 26px;
			max-height: 26px;
		}

		small {
			display: block;
		}
	}

	select.custom-select {
		min-height: 40px;
		color: $dark;
	}

	.form-control {
		background: $semiGray;
		border-radius: 10px;
	}

	.badge {
		min-width: 48px;
		min-height: 18px;
		line-height: 14px;
		text-align: center;
		font-weight: 100;
		font-size: 10px !important;
		margin-bottom: 3px;
	}

	thead tr.blank-tr th {
		padding: 0 !important;
	}
}

.table tbody + tbody {
    border-top: 15px solid $gray;
}

.table-wrapper {
	.table-title {
		.tt-lt-col {
			font-size: 20px;
		}
	}

	.card-body {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.btn {
		font-size: 12px;
		line-height: 20px;
	}
}

.delete-row {
	cursor: pointer;
}

.first-hand,
.unsettled {
	background: $gray;
}

.second-hand {
	background: $yellow;
}

.storage {
	background: $yellow;
}

.d-flex.flex-wrap.justify-content-between.align-items-center {
	min-height: 42px;
}

.modal-full {
	max-width: 90%;
}

.modal {

	.form-control,
	textarea,
	select,
	input {
		font-size: 12px;
		min-height: 40px;
	}

	.btn-dark,
	.btn-golden,
	.btn-gray {
		min-height: 35px;
		padding: 8px 10px;
		font-size: 12px;
	}

	.close {
		border-radius: 100%;
		opacity: 1;
		text-align: center;
		padding: 0 !important;
		top: -8px;
		left: -5px;

		&:hover,
		&:focus {
			border: 0;
			outline: none;
			opacity: 0.8;
		}
	}

	.inner-page-wrap {
		height: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.modal-content {
		background: $gray;
		border-radius: 25px;
		border: 0;
		box-shadow: 0px 0px 10px #1e1e1e;
	}

	.card-title {
		font-weight: 400;
	}

	.search-box {
		input {
			background: #f2f2f2;
			border: 1px solid $silver;
		}
	}

	.pagination {
		a {

			&.previous,
			&.next,
			&.active {
				border: 1px solid $dark;
			}
		}
	}
}

.search-box {
	input {
		min-height: 42px;
		border-radius: 25px !important;
		padding-right: 60px;
		background: $white;
		border-color: $white;
		padding-left: 20px;
		font-size: 12px;
	}

	.btn-search {
		position: absolute;
		right: 4px;
		top: 3px;
		background: $dark;
		color: $white;
		border: 0;
		border-radius: 25px;
		height: 35px;
		padding: 5px 8px;
		font-size: 12px;
		min-width: 50px;
		z-index: 10;
		outline: none;
	}

	&.show {
		.clearable {
			display: block !important;
			z-index: 9;
		}
	}
}

.clearable {
	position: absolute;
	right: 58px;
	line-height: 26px;
	cursor: pointer;
	display: none;
}

#accordion {
	.card-header {
		h5 {
			.btn {
				font-size: 14px;
			}
		}
	}
	button[data-toggle="collapse"] {
		background: transparent;
	}
}

div.checkbox.switcher,
div.radio.switcher {
	label {
		padding: 0;

		input {
			display: none;

			&+span {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 25px;
				background: $gray;
				border: 1px solid $lightGray;
				border-radius: 50px;
				transition: all 0.3s ease-in-out;

				small {
					position: absolute;
					display: block;
					width: 50%;
					height: 100%;
					background: #fff;
					border-radius: 50%;
					transition: all 0.3s ease-in-out;
					left: 0;
					background: $red;
					border-color: $red;
				}
			}

			&:checked+span small {
				background: $green;
				border-color: $green;
				left: 50%;
			}
		}
	}
}

.dropdown-menu {
	border-radius: 15px;
	border: 0;
	box-shadow: 1px 1px 10px #dedede;

	a {
		font-size: 14px;
		padding: 0.25rem 1rem;

	}
}

.btn.dropdown-toggle {
	background: none;
	color: $dark;
	border: 0;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.show-msg-div {
	position: absolute;
	background: $white;
	box-shadow: 0px 2px 8px #d4d4d4;
	padding: 15px;
	border-radius: 10px;
	width: 150px;
	left: 50px;
	top: 0;
	z-index: 9;
}

.pagination {
	font-size: 12px;

	a {
		background: none;
		border: 0;
		color: $dark;
		border-radius: 100%;
		width: 32px;
		height: 32px;
		line-height: 15px;
		margin: 0 2px;
		width: auto;
		font-weight: 500 !important;
		margin-bottom: 5px;
		font-size: 12px;

		&.active {
			background: white;
		}

		&:hover {
			background: white;
			color: $dark;
			opacity: 0.8;
		}

		&.previous,
		&.next {
			min-height: 42px;
			min-width: 75px;
			line-height: 24px;
			text-align: center;
			border-radius: 25px !important;
			background: $white;
			font-weight: 600;
		}

		&.previous {
			margin-right: 20px;
		}

		&.next {
			margin-left: 20px;
		}
	}
}

.chartWrapper{
	width: 100%;
	canvas{
		width: 100%;
	}
}