/*COLORS*/
$black: #000000;
$dark: #1f2634;
$semiDark: #4b5365;

$white: #ffffff;
$offWhite: #fafafa;
$silver: #e0e0e0;

$gray: #ededed;
$semiGray: #f2f2f2;
$lightGray: #cccccc;
$darkGray: #808080;

$orange: #fd6622;
$semiOrange: #ff935a;

$yellow: #ffe65d;
//$red: #f23d46;
$red: #ff0000;
$golden: #ff9a00;
$green: #00d6cd;
$blue: #00a5c3;
$navy: #001dff;
$pink: #ff345B;


/*FONTS*/
$size: 15px;
$line-height: 1.5;

$fontJP: 'Noto Sans JP', 'Lato', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
$fontEN: 'Lato', sans-serif !important;

